$bg-color: #0a0a0b;
$text-color: #ffffff;
$c: #093a5b;

html, body {
  background: $bg-color;
  color: $text-color;
  font-family: 'Inter', sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.main {
  & .login-c {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .login-b {
    transition: .1s ease-in-out background-color;

    &:hover {
      background-color: $bg-color;
    }
  }

  & .navbar-c {

  }
}

.small-loader {
  position: absolute;
  animation: rotation 2s infinite linear;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.links {
  transition: .1s ease-in-out background-color;

  &:hover {
    background-color: $bg-color;
  }
}

.parentFs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  & button {
    display: grid;
    place-items: center;

    @media (max-width: 768px) {
      & {
        font-size: 15px;
      }
    }

    font-size: 26px;
  }
}

.titles {
  font-size: 18px;
  font-weight: 600;
}

.save-d {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: $c;
  // scrollbar-width: none;

  &::-webkit-scrollbar-thumb {
    background: $c;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }
}

.todos-d::-webkit-scrollbar-thumb {
  background: #093a5b;
  border-radius: 10px;
}
.todos-d::-webkit-scrollbar {
  width: 3px;
}
.todos-d {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #093a5b;
}



