html, body {
  background: #0a0a0b;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.main .login-c {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .login-b {
  transition: 0.1s ease-in-out background-color;
}
.main .login-b:hover {
  background-color: #0a0a0b;
}
.small-loader {
  position: absolute;
  animation: rotation 2s infinite linear;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.links {
  transition: 0.1s ease-in-out background-color;
}
.links:hover {
  background-color: #0a0a0b;
}

.parentFs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.parentFs button {
  display: grid;
  place-items: center;
  font-size: 26px;
}
@media (max-width: 768px) {
  .parentFs button {
    font-size: 15px;
  }
}

.titles {
  font-size: 18px;
  font-weight: 600;
}

.save-d {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #093a5b;
}
.save-d::-webkit-scrollbar-thumb {
  background: #093a5b;
  border-radius: 10px;
}
.save-d::-webkit-scrollbar {
  width: 3px;
}

.tools-d {
  max-height: 180px !important;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #093a5b;
}
@media (max-width: 768px) {
  .tools-d {
    max-height: 180px !important;
  }
}
@media (max-width: 425px) {
  .tools-d {
    max-height: 225px !important;
  }
}
@media (max-width: 375px) {
  .tools-d {
    max-height: 280px !important;
  }
}
@media (max-width: 320px) {
  .tools-d {
    max-height: 290px !important;
  }
}
.tools-d::-webkit-scrollbar-thumb {
  background: #093a5b;
  border-radius: 10px;
}
.tools-d::-webkit-scrollbar {
  width: 3px;
}

.todos-d::-webkit-scrollbar-thumb {
  background: #093a5b;
  border-radius: 10px;
}

.todos-d::-webkit-scrollbar {
  width: 3px;
}

.todos-d {
  max-height: 343px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #093a5b;
}

.notes-c h1 {
  font-size: 20px;
  font-weight: 600;
}
.notes-c h2 {
  font-size: 18px;
  font-weight: 600;
}
.notes-c h3 {
  font-size: 16px;
  font-weight: 600;
}
.notes-c p {
  font-size: 14px;
}
.notes-c a {
  font-size: 14px;
  text-decoration: underline;
}
.notes-c ul {
  font-size: 14px;
}
.notes-c ol {
  font-size: 14px;
}
.notes-c li {
  font-size: 14px;
}
.notes-c blockquote {
  font-size: 14px;
}
.notes-c pre {
  font-size: 14px;
}
.notes-c code {
  font-size: 14px;
}
.notes-c table {
  font-size: 14px;
}
.notes-c thead {
  font-size: 14px;
}
.notes-c tbody {
  font-size: 14px;
}
.notes-c tr {
  font-size: 14px;
}
.notes-c td {
  font-size: 14px;
}
.notes-c th {
  font-size: 14px;
}
.notes-c img {
  max-width: 100%;
}
.notes-c .notes-e {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #093a5b;
  max-height: 500px;
}

/*# sourceMappingURL=style.css.map */
